<h1>Listing carriers</h1>

<table>
  <tr>
    <td colspan="4" class="table_header">Name</td>
  </tr>

<% for carrier in @carriers %>
  <tr>
    <td><%= link_to carrier.name, carrier_path(carrier) %></td>
    <td><%= link_to 'Destroy', carrier, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New carrier', new_carrier_path %>
