<h1>Owners</h1>

<table>
  <tr>
    <td colspan="2" class="table_header">Name</td>
  </tr>

<% for owner in @owners %>
  <tr>
    <td><%= link_to owner.name, owner %></td>
    <td><%= link_to 'Destroy', owner, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New owner', new_owner_path %>
