<h1>Types</h1>

<table>
  <tr>
    <tr><td colspan=2 class="table_header">Name</td>
  </tr>

<% for type in @types %>
  <tr>
    <td><%= link_to type.name, type %></td>
    <td><%= link_to 'Destroy', type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New type', new_type_path %>
