<h1>Studies</h1>

<table>
  <tr>
    <td colspan="2" class="table_header">Name</td>
  </tr>

<% for study in @studies %>
  <tr>
    <td><%= link_to study.name, study %></td>
    <td><%= link_to 'Destroy', study, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New study', new_study_path %>
