<h1>Makers</h1>

<table>
  <tr>
    <td colspan="2" class="table_header">Name</td>
  </tr>

<% for maker in @makers %>
  <tr>
    <td><%= link_to maker.name, maker %></td>
    <td><%= link_to 'Destroy', maker, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New maker', new_maker_path %>
